@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #fff;
  }
  
  *{
    box-sizing: border-box;
  }
  
html, .display, a{
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color: #fff;
    --secondary-color: #111;
}

html.dark{
    color: var(--primary-color);
    background-color: #111;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 6rem;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.display{
    background:var(--secondary-color);
    width: 270px;
    padding: 10px 30px;
    border-radius: 5px;
}

.color-box{
    border-radius: 20px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    padding: 20px;
    border-radius: 10px;
    animation: gradient 8s ease infinite;
}

@keyframes gradient{
    0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}

.mayyanMadeThis{
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
}

span{
    color: red;
}

a{
    color: var(--primary-color);
}
